services:
  - type: web
    name: drawpile-srv
    runtime: docker
    plan: free
    region: oregon
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 27750
      - key: APPWRITE_ENDPOINT
        sync: false
      - key: APPWRITE_PROJECT_ID
        sync: false
      - key: APPWRITE_API_KEY
        sync: false
      - key: APPWRITE_BUCKET_ID
        sync: false
    disk: 
      name: drawpile-data
      mountPath: /home/drawpile/data
      sizeGB: 1
